<h1><%= @project.name %></h1>
<ol>
	<% @time_entries.each do |time_entry| %>
	<li>

		Hours:
		<%=time_entry.hours %>
		Minutes:
		<%=time_entry.minutes %>
	</li>



	
	<% end %>

	<li><%= link_to 'add entry', new_project_time_entry_path %></li>
		<li><%= link_to 'Projects', projects_path %></li>
</ol>



