<h1>Hello, <%= @name %>!</h1>

  <%= link_to "My profile", "/profile" %><br>
  <%= link_to "All profiles", "/users" %><br>

  <% if current_user.nil? %>

  <%= link_to "Sign up", "/signup" %><br>
  <%= link_to "Login", "/login" %><br>
  	<% else %>
  	<%= link_to "Logout", "/logout", method: :delete %>
  	<% end %>
