
<h1>Concerts#show</h1>
<p>Find me in app/views/concerts/show.html.erb</p>

<h4>Artist :</h4>
<%= @concert.artist %>
<br>
<h4>Venue :</h4>
<%= @concert.venue %>
<br>
<h4>City:</h4>
<%= @concert.city %>
<br>
<h4>Ticket Price:</h4>
<%= @concert.price %>
<br>
<h4>Ready To:</h4>
<%= @concert.description %>
<br>